<?xml version='1.0' encoding='UTF-8'?>
<project>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.19.1">
      <projectUrl>https://github.com/{{ github_org }}/{{ item }}/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.4">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/{{ github_org }}/{{ item }}</url>
        <refspec>+refs/tags/*:refs/remotes/origin/tags/*</refspec>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>origin/tags/v*</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <browser class="hudson.plugins.git.browser.GithubWeb">
      <url>https://github.com/{{ github_org }}/{{ item }}</url>
    </browser>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <assignedNode>release</assignedNode>
  <canRoam>false</canRoam>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>* * * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>rm -rf node_modules
npm install
npm test
npm audit
docker build --pull -t {{ item }} .
VERSION=$(echo ${GIT_BRANCH} | awk -F/ '{print $NF}')
docker tag --force {{ item }} {{ docker_url }}/{{ item }}:${VERSION}
docker tag --force {{ item }} {{ docker_url }}/{{ item }}:release
docker push {{ docker_url }}/{{ item }}:${VERSION}
docker push {{ docker_url }}/{{ item }}:release
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
{% include 'roles/jenkins/templates/partials/junit.xml' %}
    <hudson.tasks.BuildTrigger>
      <childProjects>deploy.{{ item }}.qa</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers>
{% include 'roles/jenkins/templates/partials/ansicolor.xml' %}
  </buildWrappers>
</project>
