---

- name: download jenkins.war
  get_url:
    url=http://mirrors.jenkins-ci.org/war/{{ jenkins_version }}/jenkins.war
    dest={{ jenkins_install }}/jenkins.war

- name: download latest plugins
  get_url:
    url=http://updates.jenkins-ci.org/latest/{{ item }}.hpi
    dest={{ jenkins_install }}/plugins/{{ item }}.hpi
  with_items: "{{ plugins }}"
