---

- name: generate pr jobs
  template:
    src=pr.xml.j2
    dest={{ jenkins_install }}/jobs/pr.{{ item }}.xml
  with_items: "{{ repos }}"

- name: generate snapshot jobs
  template:
    src=snapshot.xml.j2
    dest={{ jenkins_install }}/jobs/snapshot.{{ item }}.xml
  with_items: " {{ repos }}"

- name: generate release jobs
  template:
    src=release.xml.j2
    dest={{ jenkins_install }}/jobs/release.{{ item }}.xml
  with_items: " {{ repos }}"
