plugins:
  ### dependencies
  - credentials
  - ssh-credentials
  - plain-credentials
  ## requires ssh-credentials
  - git-client
  - scm-api
  - script-security
  - junit
  ## requires script-security junit
  - matrix-project
  - mailer
  - structs
  ## requires structs
  - workflow-step-api
  ## requires workflow-step-api git-client
  - workflow-scm-step
  ## requires credentials mailer scm-api git-client matrix-project ssh-credentials workflow-scm-step
  - git
  - github-api
  - bouncycastle-api
  ## requires workflow-step-api credentials bouncycastle-api ssh-credentials
  - ssh-agent
  - token-macro
  ## requires github-api credentials plain-credentials token-macro git
  - github
  - icon-shim
  - javadoc
  ## requires junit javadoc mailer
  - maven-plugin
  ### top level plugins
  - ansicolor
  - simple-theme-plugin
  ## requires mailer git and github-api
  - github-oauth
  ## requires token-macro junit matrix-project mailer
  - email-ext
  # requires plain-credentials github git ssh-agent github-api credentials matrix-project
  - ghprb
  # requires icon-shim
  - matrix-auth
  - antisamy-markup-formatter
  - ssh-slaves
  ## requires maven-plugin
  - dashboard-view
  - build-monitor-plugin
  ## requires workflow-step-api matrix-project
  - htmlpublisher
  - envinject
  ## requires mailer maven-plugin javadoc
  - postbuildscript
jenkins_java_args: "-XX:MaxPermSize=512m -Duser.timezone=America/Chicago -Djava.awt.headless=true -Dfile.encoding=UTF8 -Dhudson.diyChunking=false -Djenkins.install.runSetupWizard=false -Dhudson.model.DirectoryBrowserSupport.CSP=''"
jenkins_path: "/apps/node/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
jenkins_cli: java -jar {{ jenkins_home }}/jenkins-cli.jar -s http://localhost:8080
jenkins_update_url: http://updates.jenkins-ci.org/download/plugins
views:
  - { name: 'deploy', regex: 'deploy.*' }
  - { name: 'pr', regex: 'pr.*' }
dashboard_views:
  - { name: 'snapshot', regex: 'snapshot.*' }
  - { name: 'release', regex: 'release.*' }
monitor_views:
  - { name: 'view_snapshot', regex: 'snapshot.*' }
  - { name: 'view_release', regex: 'release.*' }
github_org: lloydbenson
repos:
  - hapi-examples
nodejs_version: v4.4.7
theme_url: https://jenkins-contrib-themes.github.io/jenkins-material-theme/dist/material-teal.css
jenkins_version: latest
